/* CSS untuk index */
html {
    scroll-behavior: smooth;
}

.index {
    background-image: url('/static/images/nordwood-themes-kRNZiGKtz48-unsplash.jpg');
    background-repeat: no-repeat;
    position: relative; 
    background-size: cover;
    height: 100vh;
}

.row {
    margin-right: 0px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.placement {
    margin-top: 170px;
    margin-left: 100px;
}

.judul {
    font-family: Bebas Neue;
    line-height: 96px;
    font-size: 80px;
    line-height: 96px;
}

.isi {
    font-family: Segoe UI;
    line-height: 48px;
    font-size: 30px;
    line-height: 48px;
    margin-left: 30px;
}

.credits{   
    font-size: 15px;
}

/* CSS untuk about */
/* .about{
    font-style: normal;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(233, 233, 235, 1);
} */

.judul2 { 
    padding-bottom: 0px; 
    padding-left: 50px;
    font-family: Bebas Neue;
    font-size: 80px;
    line-height: 96px;
}

.edukasi{
    background: no-repeat center center;
    position: relative;
    background-color: black;
    color: white;
}

.skills{
    background: no-repeat center center;
    position: relative;
    background-color: black;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.warna {
    background-color: black;
    color: white;
}

.explanation {
    font-size: 15px;
    font-style: italic;
}

.explanation2 {
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
    text-align: right;
    margin-right: 30px;
}

.iconSkills {
    margin-top: 30px;
    width: 75px;
    height: 75px;
    margin-left: 110px;
}

.iconSkills2 {
    width: 75px;
    height: 137px;
    margin-left: 110px;
}

.posisi {
    margin-top: 90px;
}

.posisi2 {
    margin-bottom: -10px;
}

.posisi3 {
    margin-top: 20px;
    font-size: 25px;
}

.contact {
    background-color: black;
    color: white;
}

.judul3 {
    padding-left: 30px;
    font-family: Bebas Neue;
    font-size: 45px;
    line-height: 96px;
    margin-bottom: -10px;
}

.vl {
    width: 1px;
    background-color: white;
    height: 100%;
    float: left;
}

.iconMargin{
    width: 75px;
    height: 75px;
    margin-top: 5px;
    margin-left: 40px;
}

.back{
    margin-top: 10px;
    margin-left: 50px;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 50px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="container-"] {
      width: 100%;
    }
  }