<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Adit | About</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container" id="About.page">
        <div class="row">
            <div class="col">
                <div class="judul">
                        <p class="posisi">PROFILE</p>
                </div>
                <div class="isi">
                    <p>An undergraduate Information Systems
                        student at Universitas Indonesia who is
                        hard worker and fully responsible. I do
                        love to try a new challenging atmosphere.
                        Now I'm interested in information system
                        management to prepare myself to be a
                        future leader.</p>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'images/Edit.jpg' %}" alt="Foto Adit">
            </div>
        </div>
    </div>
    <div class="edukasi">
        <img class="img-fluid" src="{% static 'images/rsz_90.jpg' %}" alt="Universitas Indonesia">
        <div class="top-left">
            <div class="judul2">
                <p>EDUCATION</p>
            </div>
            <div class="isi">
                <p class="posisi2">Faculty Of Computer Science</p>
                <p>Universitas Indonesia</p>
            </div>
        </div>
        <div class="skills">
            <img src="{% static 'images/rsz_chris-ried-ieic5tq8ymk-unsplash.jpg' %}" alt="Coding">
            <div class="top-right">
                <div class="judul2">
                    <p class="posisi">PROGRAMMING SKILLS</p>
                </div>
                <div class="d-flex justify-content-start">
                    <img src="{% static 'images/1200px-ISO_C++_Logo.svg.png' %}" alt="C++" class="iconSkills">
                    <img src="{% static 'images/1024px-Python-logo-notext.svg.png' %}" alt="Python" class="iconSkills">
                    <img src="{% static 'images/1200px-Java_programming_language_logo.svg.png' %}" alt="Java" class="iconSkills2">
                </div>
                <div class="explanation2">
                    <p> - Expert and Creative</p>
                </div>
            </div>
        </div>
        <div class="bottom-right">
            <p class="credits">Photo by Chris Ried on Unsplash</p>
        </div>
    </div>
    <div class="warna">
        <div class="judul2">
            <p>EXPERIENCES AND ORGANIZATIONS</p>
        </div>
        <div class="isi">
            <p class="posisi2">Staff of Art Department BEM Fasilkom UI</p>
            <p class="explanation">"2019 - Staff of student council that accommodates art in Fasilkom UI"</p>
            <p class="posisi2">Staff of Human Reaserch Development Compfest</p>
            <p class="explanation">"2019 - Staff of HRD Compfest that manages staff Equipment and Security division"</p>
            <p class="posisi2">Staff of Event Computer Science League</p>
            <p class="explanation">“2019 - Staff of Event CSL that programs event in CSL such as rundown and match report"</p>
            <p class="posisi2">Staff of Public Relations and Publication Open House Fasilkom UI</p>
            <p class="explanation">“2018 - Staff of PR that spreads OH Fasilkom to highschool student and introduces Fasilkom to HS student”</p>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="contact">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <p class="judul3">CONTACT ME</p>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="vl"></div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="isi">
                        <p class="posisi3">aditmuhammad06@gmail.com</p>
                    </div>
                </div>
                <div class="p-2 bd-highlight" style="display: flex">
                    <a href="https://facebook.com/aditmuhmd"><img src="{% static 'images/icons8-facebook-circled-96.png' %}" alt="Facebook Icon" class="iconMargin"></a>
                    <a href="https://twitter.com/aditmuhmd"><img src="{% static 'images/icons8-twitter-96.png' %}" alt="Twitter Icon" class="iconMargin"></a>
                    <a href="https://linkedin.com/in/aditmuhmd"><img src="{% static 'images/icons8-linkedin-96.png' %}" alt="Linkedin Icon" class="iconMargin"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
