<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Adit | Index</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="containter-fluid index">
        <div class="row">
            <div class="col-sm placement">
                <div class="judul">
                    <p>WELCOME TO MY SITE</p>
                </div>
                <div class="isi">
                    <p>Muhammad Aditya</p>
                    <a href="{% url 'homepage:about' %}">
                        <button type="button" class="btn btn-aboutme btn-outline-dark">About Me</button>
                    </a>
            </div>
            <div class="col-sm">
                <p class="credits">Photo by NordWood Themes on Unsplash</p>
            </div>
        </div>
    </div>
</body>
</html>
