<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Adit | Activity</title>
</head>
<body>
    {% include "navbar.html" %}
    <h1 style="text-align: center;">
        JADWAL KEGIATAN
    </h1>
    <div class="containter">
        <div class="row">
            {% for jadwal in jadwalKegiatan %}
                <div class="col-sm-4 text-center">
                    <h2>{{ jadwal.aktivitas }}</h2>
                    <p>{{ jadwal.tanggal }}</p>
                    <p>{{ jadwal.jam }}</p>
                    <p>{{ jadwal.tempat }}</p>
                    <p>{{ jadwal.kategori }}</p>
                    <form action="delete/{{ jadwal.id }}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
