<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Adit | Isi Kegiatan</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container" style="padding: 30px">
        <h1 style="text-align: center;">
            Isi Jadwal Kegiatan
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success" value="Add">Submit</button>
        </form>
    </div>
</body>
</html>
