{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img style="height:50px" src="{% static 'img/logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:jadwal_create' %}">Isi Kegiatan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:jadwal' %}">Jadwal Kegiatan</a>
        </li>
        </ul>
    </div>
</nav>
