<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<body style="padding: 50px">
    <div class="container">
        <h1>
            Terima Kasih sudah mengisi jadwal kegiatan!! <br>
            Untuk jadwal kegiatan, klik <a href="{% url 'homepage:jadwal' %}">ini</a>
        </h1>
    </div>
</body>
